.quranSettingBox{

    accent-color: #A99160;
    transition: height 0.3s;
    overflow: hidden;
}
.quranSettingtop{
    padding-top: 0 !important;
}
.quranSettingTitle{
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0;
    padding-right: 0.7rem;
    margin-bottom: 0.2rem;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.quranSettingCard{
    background: #FFFEFD;
    border: 1px solid #DCDCDC;
}
.quranSettingCard{
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 0.438rem 0.8rem;
}
.quranSettingRadioBox{
    display: flex;
    align-items: center;
    padding: 0.4rem;
    cursor: pointer;
}
.textInput{
    font-size:larger;
    margin: 0;
    padding: 0;
    color: inherit;
    margin-right: 5px;
}
/*  */
.quranSettingRadioBoxEnable{
    background-color: #EFEAD9;
    border-radius: 0.5rem;
}
/*  */
.settingImage{
    width: 2.188rem !important;
    height: 2.188rem !important;
    max-width: 100%;
    border-radius: 50%;
}
.settingFlex{
    flex-grow: 1 !important;
    flex-direction: column !important;
}
.playPreviewButton{
    background: transparent;
    border: 0;
    cursor: pointer;
    position: relative !important;
    color: inherit;
}
.playPreviewButtonIcon{
    width: 1.5rem;
    height: 1.5rem;
    color: #A99160;
}
.quranSettingTitleText{
    margin: 0.6rem 0.7rem 0rem;
    position: relative !important;
    align-items: center !important;
    display: flex !important;
    font-size: 1.1rem;
    font-weight: 500;
}
.settingSelect{
    display: flex !important;
}
.settingCenter{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.settingMainSample{
    margin-left: -0.8rem !important;
    margin-right: -0.8rem !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.settingSample{
    background: #EFEAD9;
    border-radius: 0.5rem;
    margin: 0 0.438rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}
.settingMainPreview{
    padding-left: 0.563rem;
    flex-grow: 1;
    flex-basis: 0;
}
.settingPreview{
    text-align: justify;
}